.heart__animation1 {
   position: absolute;
   right: 5%;
   transition-duration: 500ms;
}

.heart__animation2 {
   position: absolute;
   right: 5%;
   opacity: 0;
   transition-duration: 500ms;
}

.heart-animation:hover > .heart__animation1 {
   background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition-duration: 500ms;
   transform: scale(1.20);
}

.heart-animation:hover > .heart__animation2 {
   opacity: 1;
   background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition-duration: 500ms;
   transform: scale(1.20);
}