@use '../components' as *;

.footer-main {
   padding: 1rem 2rem 2rem 2rem;
   color: $light;
   background-color: #353535;
   .navigationLogo {
      h3 {
         font-size: 1.2rem;
         font-family: 'Shrikhand', cursive;
      }
      .footer--grid {
         .footer--grid__left {
            display: flex;
            align-items: center;
            .fas {
               width: 1.5rem;
            }
            a {
               font-weight: 300;
               color: $light;
               margin: 0.3rem 0 0.3rem 0;
            }
         }
      }
   }
}