@use '../components' as *;

.container-francaise {
   background-color: #f6f6f6;
   border-radius: 35px 35px 0 0;
   position: relative;
   margin-top: -10rem;
   padding: 0.5rem 1rem 2rem 1rem;
   z-index: 1;
   .text-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Shrikhand', cursive;
      h1 {
         width: 85%;
      }
      i {
         font-size: 30px;
         margin-right: 1rem;
      }
   }
   .menu-francaise {
      display: grid;
      grid-template-rows: auto auto auto;
      grid-column-gap: 11px;
      grid-row-gap: 5px;
      justify-items: center; 
      .menu-one { 
         height: auto;
         width: 100%;
         margin-bottom: 1.7rem;
         p {
            font-size: 18px;
            margin-bottom: 0.5rem;
         }
         .green-bar {
            width: 50px;
            background-color: #99e2d0;
            height: 0.25rem;
            margin-bottom: 1.3rem;
         }
         .plat-francaise {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 11px;
            grid-row-gap: 20px;
            .plat-one {
               height: auto;
               width: 100%;
               .miam-menu {
                  display: grid;
                  @include box-shadow(20px);
                  grid-template-columns: 75% auto;
                  grid-template-rows: 1fr 1fr; 
                  justify-items: center; 
                  align-items: center; 
                  border-radius: 20px;
                  padding: 1rem 1rem 1rem 1rem;
                  height: auto;
                  .miam-one {
                     font-weight: bold;
                     font-size: 20px;
                     grid-area: 1 / 1 / 2 / 2;
                     width: 100%;
                     p {
                        margin-top: 0;
                        margin-bottom: 0;
                        overflow:hidden; 
                        white-space:nowrap; 
                        text-overflow: ellipsis;
                     }
                  }
                  .miam-two {
                     grid-area: 2 / 1 / 3 / 2;
                     width: 100%;
                     p {
                        margin: 0;
                        font-weight: 300;
                        font-size: 14px;
                        overflow:hidden; 
                        white-space:nowrap; 
                        text-overflow: ellipsis;
                     }
                  }
                  .miam-thrid {
                     grid-area: 1 / 2 / 3 / 3;
                     width: auto;
                     position: relative;
                     margin-bottom: -0.8rem;
                     font-weight: bold;
                     justify-self: center; 
                     align-self: center; 
                  }
               }
            }
         }
      }
   }
   .button__plat {
      @include button-gradiant;
      margin-bottom: 4rem;
   }
}