@use 'components' as *;
@use 'packages/animation';
@use 'packages/body';
@use 'packages/container';
@use 'packages/second-container';
@use 'packages/footer';
@import "assets/css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&family=Shrikhand&display=swap');

@media (min-width: 1200px) {  
   .container-francaise {
      margin: 0 15rem 0 15rem;
      position: relative;
      margin-top: -10rem;
      overflow-wrap: break-word;
      .text-title {
         h1 {
            margin-left: 2rem;
         }
         i {
            margin-right: 2rem;
         }
      }
      .menu-francaise {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(3, auto);
         grid-column-gap: 2rem;
         grid-row-gap: 0px;
         padding: 0 2rem 0 2rem;
         .menu-desk-one { 
            grid-area: 1 / 1 / 2 / 2; 
         }
         .menu-desk-two { 
            grid-area: 1 / 2 / 2 / 3; 
         }
         .menu-desk-third { 
            grid-area: 2 / 1 / 3 / 3; 
         }
         .button__plat { 
            grid-area: 3 / 1 / 4 / 3; 
         }
         .miam-menu {
            height: 5rem;
         }
         a {
            grid-area: 2 / 2 / 3 / 3;
         }
      }
   }
   .container {
      .main--fonction {
         .grid--fonction {
            grid-auto-flow: row dense; 
            grid-auto-columns: 1fr; 
            grid-template-columns: 1fr 1fr 1fr; 
            gap: 4.5rem;
            grid-template-areas: 
              "grid__one grid__two grid__third"; 
            justify-items: center; 
            align-items: center; 
         }
      }
   }
}

@media (min-width: 768px) {  
   body {
      .testtest {
         max-height: 25rem;
         width: 100%;
         object-fit: cover;
      }
   }
   .container-francaise {
      margin: 0 5rem 0 5rem;
      position: relative;
      margin-top: -8rem;
   }
   .choose--container {
      margin: 0 2rem 0 2rem;
   }
   .container {
      .main--fonction {
         padding: 1rem 7% 1rem 7%;
         h2 {
            text-align: center;
            font-size: 30px;
         }
         p {
            text-align: center;
         }
         .grid--fonction {
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            gap: 0 2rem; 
            grid-template-areas: 
              "grid__one grid__two"
              "grid__third grid__third"; 
            .grid__one { 
               grid-area: grid__one; 
               grid-template-columns: auto auto; 
               width: 100%;
               display: grid;
               grid-template-columns: auto auto;
               i {
                  justify-self: end; 
                  padding-right: 1rem;
               }
               p {
                  justify-self: start; 
               }
            }
            .grid__two { 
               grid-area: grid__two; 
               grid-template-columns: auto auto; 
               width: 100%;
               i {
                  justify-self: end; 
                  padding-right: 1rem;
               }
               p {
                  justify-self: start; 
               }
            }
            .grid__third { 
               grid-area: grid__third; 
               grid-template-columns: auto auto; 
               width: 100%;
               i {
                  justify-self: end; 
                  padding-right: 1rem;
               }
               p {
                  justify-self: start; 
               }
            }
         }
      }
      .cards--container {
         h2 {
            text-align: center;
            font-size: 30px;
         }
         .cards-grid {
            grid-auto-columns: 1fr; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr; 
            margin: 0 10% 3rem 10%;
         }
      }
   }
   .footer-main {
      @include display-flex;
      .navigationLogo {
         h3 {
            text-align: center;
         }
         width: 30rem;
         .footer--grid {
            display: grid;
            grid-auto-columns: 1fr; 
            grid-template-columns: 1fr 1fr; 
            justify-items: center; 
            align-items: center; 
            .grid--left {
               grid-area: 1 / 1 / 2 / 2;
            }
            .grid--right {
               grid-area: 1 / 2 / 2 / 3;
            }
         }
      }
   }
}

@media (max-width: 350px) {  
   .container-francaise {
      margin-top: -4rem;
      padding :0.5rem 0.5rem 2rem 0.5rem;
      .button__plat {
         display: flex;
         justify-content: center;
         margin-bottom: 0.5rem;
      }
      .menu-francaise {
         display: block;
         .menu-one { 
            .plat-francaise {
               .plat-one {
                  .miam-menu {
                     padding: 1rem 0.2rem 1rem 0.2rem;
                     grid-template-columns: 1fr; 
                     grid-template-rows: auto auto auto; 
                     .miam-one {
                        width: 70%;
                        grid-area: 1 / 1 / 2 / 2;
                     }
                     .miam-two {
                        width: 70%;
                        grid-area: 2 / 1 / 3 / 2;
                     }
                     .miam-thrid {
                        width: 70%;
                        margin-bottom: 0;
                        grid-area: 3 / 1 / 4 / 2;
                        text-align: center;
                     }
                  }
               }
            }
         }
      }
   }
}