@import url(c:\Users\Nicol\OneDrive\Bureau\NicolasBAAR_3_02082021\assets\sass\normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&family=Shrikhand&display=swap");
body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body img, body video {
  height: auto;
  max-width: 100%;
}

body a {
  text-decoration: none;
}

body header {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4.5rem;
}

body header .navigationLogoBack {
  display: flex;
  justify-content: center;
  align-items: center;
}

body header .navigationLogoBack a {
  position: absolute;
  left: 5%;
}

.footer-main {
  padding: 1rem 2rem 2rem 2rem;
  color: white;
  background-color: #353535;
}

.footer-main .navigationLogo h3 {
  font-size: 1.2rem;
  font-family: 'Shrikhand', cursive;
}

.footer-main .navigationLogo .footer--grid .footer--grid__left {
  display: flex;
  align-items: center;
}

.footer-main .navigationLogo .footer--grid .footer--grid__left .fas {
  width: 1.5rem;
}

.footer-main .navigationLogo .footer--grid .footer--grid__left a {
  font-weight: 300;
  color: white;
  margin: 0.3rem 0 0.3rem 0;
}

.container .location--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  font-size: 18px;
  background-color: #eaeaea;
  color: #7e7e7e;
}

.container .location--container .fa-map-marker-alt {
  position: relative;
  right: 1.3rem;
}

.container .main--location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 1rem 2rem 3rem 2rem;
}

.container .main--location .title__location {
  width: 80%;
  margin-bottom: 0.5rem;
}

.container .main--location .subtitle__location {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.container .main--location .button__location {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #ff79da 5%, #9356dc 100%);
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 18px;
  margin: 1.5rem 0 1rem 0;
  padding: 15px 35px;
  text-decoration: none;
}

.container .main--fonction {
  padding-top: 1rem;
}

.container .main--fonction h2 {
  padding-left: 1.5rem;
}

.container .main--fonction .grid--fonction {
  padding: 2rem 3rem 2rem 3rem;
}

.container .main--fonction .grid--fonction .grid--card {
  position: relative;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 27% auto;
  align-self: center;
  margin-bottom: 2rem;
  background-color: #f6f6f6;
  height: 4.5rem;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.container .main--fonction .grid--fonction .grid--card .div--text {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 2rem;
  width: 2rem;
  border-radius: 20px;
  background-color: #9356DC;
  color: white;
  position: absolute;
  margin-left: -0.8rem;
}

.container .main--fonction .grid--fonction .grid--card .text__fonction {
  align-self: center;
}

.container .main--fonction .grid--fonction .grid--card .fas, .container .main--fonction .grid--fonction .grid--card .far {
  color: #7e7e7e;
  font-size: 20px;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main--fonction .grid--fonction .grid--card:hover {
  background-color: #f5edff;
}

.container .main--fonction .grid--fonction .grid--card:hover .fas {
  color: #9356DC;
}

.container .cards--container {
  padding: 2rem 0 2rem 0;
  background-color: #f6f6f6;
}

.container .cards--container h2 {
  padding-left: 1.5rem;
}

.container .cards--container .cards-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.container .cards--container .cards-grid .cards--template {
  border-radius: 1rem;
  margin: 0.7rem 1rem 0.7rem 1rem;
  position: relative;
  background-color: white;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
}

.container .cards--container .cards-grid .cards--template .cards--news__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 1;
  background-color: #99e2d0;
  border-radius: 5px;
  width: 5.5rem;
  height: 2.2rem;
}

.container .cards--container .cards-grid .cards--template .cards--news__grid p {
  margin: 0;
  color: #008766;
}

.container .cards--container .cards-grid .cards--template img {
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 1rem 0 0;
  height: 11rem;
  width: 100%;
}

.container .cards--container .cards-grid .cards--template .cards--template__grid {
  display: grid;
  padding: 1rem 1rem 1rem 1rem;
  grid-auto-flow: row dense;
  grid-template-columns: 80% auto;
  grid-template-areas: "div1 div3" "div2 div3";
}

.container .cards--container .cards-grid .cards--template .cards--template__grid h3 {
  grid-area: div1;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: black;
}

.container .cards--container .cards-grid .cards--template .cards--template__grid p {
  grid-area: div2;
  margin: 0;
  color: black;
}

.container .cards--container .cards-grid .cards--template .cards--template__grid i {
  grid-area: div3;
  justify-self: center;
  align-self: center;
  font-size: 32px;
}

.container-francaise {
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  position: relative;
  margin-top: -10rem;
  padding: 0.5rem 1rem 2rem 1rem;
  z-index: 1;
}

.container-francaise .text-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Shrikhand', cursive;
}

.container-francaise .text-title i {
  font-size: 30px;
  margin-right: 1rem;
}

.container-francaise .menu-francaise {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-column-gap: 11px;
  grid-row-gap: 5px;
  justify-items: center;
}

.container-francaise .menu-francaise .menu-one {
  height: auto;
  width: 100%;
  margin-bottom: 1.7rem;
}

.container-francaise .menu-francaise .menu-one p {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.container-francaise .menu-francaise .menu-one .green-bar {
  width: 50px;
  background-color: #99e2d0;
  height: 0.25rem;
  margin-bottom: 1.3rem;
}

.container-francaise .menu-francaise .menu-one .plat-francaise {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 11px;
  grid-row-gap: 20px;
}

.container-francaise .menu-francaise .menu-one .plat-francaise .plat-one {
  height: auto;
  width: 100%;
}

.container-francaise .menu-francaise .menu-one .plat-francaise .plat-one .miam-menu {
  display: grid;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  grid-template-columns: 75% auto;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
  padding: 1rem 1rem 1rem 1rem;
  height: auto;
}

.container-francaise .menu-francaise .menu-one .plat-francaise .plat-one .miam-menu .miam-one {
  font-weight: bold;
  font-size: 20px;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}

.container-francaise .menu-francaise .menu-one .plat-francaise .plat-one .miam-menu .miam-one p {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container-francaise .menu-francaise .menu-one .plat-francaise .plat-one .miam-menu .miam-two {
  grid-area: 2 / 1 / 3 / 2;
  width: 100%;
}

.container-francaise .menu-francaise .menu-one .plat-francaise .plat-one .miam-menu .miam-two p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container-francaise .menu-francaise .menu-one .plat-francaise .plat-one .miam-menu .miam-thrid {
  grid-area: 1 / 2 / 3 / 3;
  width: auto;
  position: relative;
  margin-bottom: -0.8rem;
  font-weight: bold;
  justify-self: center;
  align-self: center;
}

.container-francaise .button__plat {
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #ff79da 5%, #9356dc 100%);
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 18px;
  margin: 1.5rem 0 1rem 0;
  padding: 15px 35px;
  text-decoration: none;
  margin-bottom: 4rem;
}

/* Animation */
.heart__animation1 {
  position: absolute;
  right: 5%;
  transition-duration: 500ms;
}

.heart__animation2 {
  position: absolute;
  right: 5%;
  opacity: 0;
  transition-duration: 500ms;
}

.heart-animation:hover > .heart__animation1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 500ms;
  transform: scale(1.2);
}

.heart-animation:hover > .heart__animation2 {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 500ms;
  transform: scale(1.2);
}

/* Animation */
/* @media */
@media (min-width: 1200px) {
  .container-francaise {
    margin: 0 15rem 0 15rem;
    position: relative;
    margin-top: -10rem;
    overflow-wrap: break-word;
  }
  .container-francaise .text-title h1 {
    margin-left: 2rem;
  }
  .container-francaise .text-title i {
    margin-right: 2rem;
  }
  .container-francaise .menu-francaise {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 2rem;
    grid-row-gap: 0px;
    padding: 0 2rem 0 2rem;
  }
  .container-francaise .menu-francaise .menu-desk-one {
    grid-area: 1 / 1 / 2 / 2;
  }
  .container-francaise .menu-francaise .menu-desk-two {
    grid-area: 1 / 2 / 2 / 3;
  }
  .container-francaise .menu-francaise .menu-desk-third {
    grid-area: 2 / 1 / 3 / 3;
  }
  .container-francaise .menu-francaise .button__plat {
    grid-area: 3 / 1 / 4 / 3;
  }
  .container-francaise .menu-francaise .miam-menu {
    height: 5rem;
  }
  .container-francaise .menu-francaise a {
    grid-area: 2 / 2 / 3 / 3;
  }
  .container .main--fonction .grid--fonction {
    grid-auto-flow: row dense;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.5rem;
    grid-template-areas: "grid__one grid__two grid__third";
    justify-items: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  body .testtest {
    max-height: 25rem;
    width: 100%;
    object-fit: cover;
  }
  .container-francaise {
    margin: 0 5rem 0 5rem;
    position: relative;
    margin-top: -8rem;
  }
  .choose--container {
    margin: 0 2rem 0 2rem;
  }
  .container .main--fonction {
    padding: 1rem 7% 1rem 7%;
  }
  .container .main--fonction h2 {
    text-align: center;
    font-size: 30px;
  }
  .container .main--fonction p {
    text-align: center;
  }
  .container .main--fonction .grid--fonction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
    grid-template-areas: "grid__one grid__two" "grid__third grid__third";
  }
  .container .main--fonction .grid--fonction .grid__one {
    grid-area: grid__one;
    grid-template-columns: auto auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
  .container .main--fonction .grid--fonction .grid__one i {
    justify-self: end;
    padding-right: 1rem;
  }
  .container .main--fonction .grid--fonction .grid__one p {
    justify-self: start;
  }
  .container .main--fonction .grid--fonction .grid__two {
    grid-area: grid__two;
    grid-template-columns: auto auto;
    width: 100%;
  }
  .container .main--fonction .grid--fonction .grid__two i {
    justify-self: end;
    padding-right: 1rem;
  }
  .container .main--fonction .grid--fonction .grid__two p {
    justify-self: start;
  }
  .container .main--fonction .grid--fonction .grid__third {
    grid-area: grid__third;
    grid-template-columns: auto auto;
    width: 100%;
  }
  .container .main--fonction .grid--fonction .grid__third i {
    justify-self: end;
    padding-right: 1rem;
  }
  .container .main--fonction .grid--fonction .grid__third p {
    justify-self: start;
  }
  .container .cards--container h2 {
    text-align: center;
    font-size: 30px;
  }
  .container .cards--container .cards-grid {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 10% 3rem 10%;
  }
  .footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-main .navigationLogo {
    width: 30rem;
  }
  .footer-main .navigationLogo h3 {
    text-align: center;
  }
  .footer-main .navigationLogo .footer--grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .footer-main .navigationLogo .footer--grid .grid--left {
    grid-area: 1 / 1 / 2 / 2;
  }
  .footer-main .navigationLogo .footer--grid .grid--right {
    grid-area: 1 / 2 / 2 / 3;
  }
}

@media (max-width: 350px) {
  .container-francaise {
    margin-top: -4rem;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
  }
  .container-francaise .button__plat {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
  }
  .container-francaise .menu-francaise {
    display: block;
  }
  .container-francaise .menu-francaise .menu-one .plat-francaise .plat-one .miam-menu {
    padding: 1rem 0.2rem 1rem 0.2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .container-francaise .menu-francaise .menu-one .plat-francaise .plat-one .miam-menu .miam-one {
    width: 70%;
    grid-area: 1 / 1 / 2 / 2;
  }
  .container-francaise .menu-francaise .menu-one .plat-francaise .plat-one .miam-menu .miam-two {
    width: 70%;
    grid-area: 2 / 1 / 3 / 2;
  }
  .container-francaise .menu-francaise .menu-one .plat-francaise .plat-one .miam-menu .miam-thrid {
    width: 70%;
    margin-bottom: 0;
    grid-area: 3 / 1 / 4 / 2;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */