@use '../utils' as *;

body {
   img, video {
      height: auto;
      max-width: 100%;
   }
   scroll-behavior: smooth;
   margin: 0;
   font-family: 'Roboto', sans-serif;
   a {
      text-decoration: none; 
   }
   .heart-animation {
      width: auto;
      height: 1.8rem;
   }
   header {
      @include box-shadow(20px);
      @include display-flex;
      position: relative;
      height: 4.5rem;
      .navigationLogoBack {
         @include display-flex;
         a {
            color: $dark;
            position: absolute;
            left: 5%;
         }
      }
   }
}